/* -------------------------
    Általános szabályok
--------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --yellow: rgb(232, 213, 5);
    --darkgrey: rgb(51, 59, 57);
    --grey: grey;
    --padd: 0 3rem 0 3rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100%;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

* a{
    text-decoration: none;
}

* li{
    list-style-type: none;
}

* i{
    cursor: pointer;
}


/* -------------------------
    Fejlécek
--------------------------*/
.first-header, .second-header, .third-header{
    min-height: 2rem;
    padding: var(--padd);
    color: var(--grey);
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-header ul, .second-header ul, .third-header ul{
    display: flex;
    gap: 2rem;
}

.first-header a{
    color: var(--grey);
}

.first-header select{
    border: none;
    color: var(--grey);
}

.first-header select:focus{
    outline: none;
}


.second-header{
    min-height: 5rem;
    color: var(--darkgrey);
    font-weight: 600;
}

.second-header ul{
    padding-right: 20rem;
}

.second-header a{
    color: var(--darkgrey);
}

h1{
    font-size: 2rem;
}

.second-header span{
    color: grey;
    font-weight: 400;
}


.third-header{
    min-height: 3rem;
    background: var(--yellow);
    color: var(--darkgrey);
    font-weight: 600;
}

.third-header ul{
    gap: 1rem;
}

form{
    background: var(--darkgrey);
    color: var(--grey);
    min-height: 2.5rem;
    flex-basis: 42rem;
    flex-shrink: 3;
    display: flex;
    align-items: center;
    margin-right: 12rem;
}

form button{
    background: var(--darkgrey);
    border: none;
}

form i{
    color: rgb(196, 194, 194);
    font-size: 1.2rem;
    padding: 0 .7rem 0 .7rem;
}

input{
    flex-basis: 80%;
}

input, form select{
    min-height: 2.5rem;
    border: none;
    color: var(--grey);
    padding: 0 1rem 0 1rem;
}

form select:focus, input{
    outline: none;
}


/* -------------------------
    Leugró menü
--------------------------*/
.third-header p{
    padding: .7rem 4rem 1rem 0;
}
.dropmenu{
    position: relative;
    flex-shrink: 0;
    flex-basis: 13rem;
    min-height: 2.5rem;
}

.dropmenu ul{
    border: 3px solid var(--yellow);
    background: white;
    display: none;
}

.dropmenu ul li, .submenu li{
    padding: .5rem .5rem .5rem .5rem;
    cursor: pointer;
}

.dropmenu a{
    color: var(--darkgrey);
    font-weight: 600;
}

.dropmenu i{
    float: right;
}

.submenu-acces{
    color: var(--grey);
    font-weight: 400;
    position: relative;
}

.submenu{
    display: none;
    left: 248.5px;
    top: -1px;
    margin-left: 1rem;
}

.dropmenu:hover > ul, .submenu-acces:hover > .submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 270px;
}


/* -------------------------
    Főoldal - Main
--------------------------*/
.bgi-container{
    min-height: 386px;
    display: flex;
    justify-content: space-between;
    background: url(/img/1920X422/img1.jpg) no-repeat;
    background-size: cover;
}

.bgi-text{
    padding: 2rem 2rem 2rem 22.5rem;
}

.bgi-text p{
    padding-top: 3rem;
    color: rgb(57, 155, 177);
    font-weight: 600;
}

.bgi-text h2{
    font-size: 2rem;
    font-weight: lighter;
    padding: .5rem 0 2rem 0;
}

.bgi-text span{
    font-weight: bold;
}

.bgi-text button{
    padding: .5rem 2rem .5rem 2rem;
    border: none;
    background: var(--yellow);
    color: var(--darkgrey);
}

.bgi-container img{
    padding-right: 4rem;
}



.items{
    display: flex;
    padding: 3rem 4rem 3rem 22rem;
}

.item{
    display: flex;
}

.item-text{
    padding: .5rem;
}

.item-text span{
    font-weight: bold;
}

.item-text button{
    margin-top: 3.5rem;
    padding: .5rem;
    background: white;
    border: none;
}

.item-text a{
    color: var(--darkgrey);
    font-weight: bold;
}

.item-text i{
    padding-left: .2rem;
    color: var(--yellow);
}