/* -------------------------
    Általános szabályok
--------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --yellow: rgb(232, 213, 5);
    --darkgrey: rgb(51, 59, 57);
    --grey: grey;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100%;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

* a{
    text-decoration: none;
}

* li{
    list-style-type: none;
}

* i{
    cursor: pointer;
}


/* -------------------------
    Fejlécek
--------------------------*/
.first-header, .second-header, .third-header{
    min-height: 2rem;
    padding: 0 11rem 0 11rem;
    color: var(--grey);
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-header ul, .second-header ul, .third-header ul{
    display: flex;
    gap: 2rem;
}

.first-header a{
    color: var(--grey);
}

.first-header select{
    border: none;
    color: var(--grey);
}

.first-header select:focus{
    outline: none;
}


.second-header{
    min-height: 5rem;
    color: var(--darkgrey);
    font-weight: 600;
}

.second-header ul{
    padding-right: 15rem;
}

.second-header a{
    color: var(--darkgrey);
}

h1{
    font-size: 2rem;
}

.second-header span{
    color: grey;
    font-weight: 400;
}


.third-header{
    min-height: 3rem;
    background: var(--yellow);
    color: var(--darkgrey);
    font-weight: 600;
}

.third-header ul{
    gap: 1rem;
}

form{
    background: var(--darkgrey);
    color: var(--grey);
    min-height: 2.5rem;
    flex-basis: 42rem;
    flex-shrink: 3;
    display: flex;
    align-items: center;
}

form button{
    background: var(--darkgrey);
    border: none;
}

form i{
    color: rgb(196, 194, 194);
    font-size: 1.2rem;
    padding: 0 .7rem 0 .7rem;
}

input{
    flex-basis: 80%;
}

input, form select{
    min-height: 2.5rem;
    border: none;
    color: var(--grey);
    padding: 0 1rem 0 1rem;
}

form select:focus, input{
    outline: none;
}


/* -------------------------
    Leugró menü
--------------------------*/
.third-header p{
    padding: .7rem 0 .7rem 0;
}
.dropmenu{
    position: relative;
    flex-shrink: 0;
    flex-basis: 13rem;
    min-height: 2.5rem;
}

.dropmenu ul{
    border: 3px solid var(--yellow);
    display: none;
}

.dropmenu ul li, .submenu li{
    padding: .5rem .5rem .5rem .5rem;
    cursor: pointer;
}

.dropmenu a{
    color: var(--darkgrey);
    font-weight: 600;
}

.dropmenu i{
    float: right;
}

.submenu-acces{
    color: var(--grey);
    font-weight: 400;
    position: relative;
}

.submenu{
    display: none;
    left: 187px;
    top: -1px;
    margin-left: 1rem;
}

.dropmenu:hover > ul, .submenu-acces:hover > .submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 13rem;
}

