/* -------------------------
    Általános szabályok
--------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --yellow: rgb(232, 213, 5);
    --darkgrey: rgb(51, 59, 57);
    --grey: grey;
    --blue: rgb(57, 155, 177);
    --padd: 0 3rem 0 3rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100%;
    max-width: 1900px;
    margin: 0 auto 0 auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

* a{
    text-decoration: none;
}

* li{
    list-style-type: none;
}

* i, * button{
    cursor: pointer;
}

select{
    background: white;
    cursor: pointer;
}


/* -------------------------
    Fejlécek
--------------------------*/
.first-header, .second-header, .third-header{
    min-height: 2rem;
    padding: var(--padd);
    color: var(--grey);
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-header ul, .second-header ul, .third-header ul{
    display: flex;
    gap: 2rem;
}

.first-header a{
    color: var(--grey);
}

.first-header select{
    border: none;
    color: var(--grey);
}

.first-header select:focus{
    outline: none;
}


.second-header{
    min-height: 5rem;
    color: var(--darkgrey);
    font-weight: 600;
}

.second-header ul{
    padding-right: 20rem;
}

.second-header a{
    color: var(--darkgrey);
}

h1{
    font-size: 2rem;
}

.second-header span{
    color: grey;
    font-weight: 400;
}


.third-header{
    min-height: 3rem;
    background: var(--yellow);
    color: var(--darkgrey);
    font-weight: 600;
}

.third-header ul{
    gap: 1rem;
}

form{
    background: var(--darkgrey);
    color: var(--grey);
    min-height: 2.5rem;
    flex-basis: 42rem;
    flex-shrink: 3;
    display: flex;
    align-items: center;
    margin-right: 12rem;
    border-radius: .8rem;
}

form button{
    background: var(--darkgrey);
    border: none;
}

form i{
    color: rgb(196, 194, 194);
    font-size: 1.2rem;
    padding: 0 .7rem 0 .7rem;
}

input{
    flex-basis: 80%;
    border-radius: .8rem 0  0 .8rem;
}

input, form select{
    min-height: 2.5rem;
    border: none;
    color: var(--grey);
    padding: 0 1rem 0 1rem;
}

form select:focus, input{
    outline: none;
}


/* -------------------------
    Leugró menü
--------------------------*/
.third-header p{
    padding: .7rem 4rem 1rem 0;
}
.dropmenu{
    position: relative;
    flex-shrink: 0;
    flex-basis: 13rem;
    min-height: 2.5rem;
}

.dropmenu ul{
    border: 3px solid var(--yellow);
    background: white;
    display: none;
}

.dropmenu ul li, .submenu li{
    padding: .5rem .5rem .5rem .5rem;
    cursor: pointer;
}

.dropmenu a{
    color: var(--darkgrey);
    font-weight: 600;
}

.dropmenu i{
    float: right;
}

.submenu-acces{
    color: var(--grey);
    font-weight: 400;
    position: relative;
}

.submenu{
    display: none;
    left: 248.5px;
    top: -1px;
    margin-left: 1rem;
}

.dropmenu:hover > ul, .submenu-acces:hover > .submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 270px;
}


/* -------------------------
    Főoldal - Main
--------------------------*/
.bgi-container{
    min-height: 386px;
    display: flex;
    justify-content: space-between;
    background: url(img/1920X422/img1.jpg) no-repeat;
    background-size: cover;
}

.bgi-text{
    padding: 2rem 2rem 2rem 22.5rem;
}

.bgi-text p{
    padding-top: 3rem;
    color: var(--blue);
    font-weight: 600;
}

.bgi-text h2{
    font-size: 2rem;
    font-weight: lighter;
    padding: .5rem 0 2rem 0;
}

.bgi-text span{
    font-weight: bold;
}

.bgi-text button{
    padding: .5rem 2rem .5rem 2rem;
    border: none;
    background: var(--yellow);
    color: var(--darkgrey);
    cursor: pointer;
    color: var(--darkgrey);
    font-size: 1rem;
}

.bgi-container img{
    padding-right: 4rem;
}



.items-narrow{
    display: flex;
    padding: 3rem 4rem 3rem 22rem;
    flex-grow: 1;
}

.item-horizontal{
    display: flex;
}

.itemhorizontal-text{
    padding: .5rem;
}

.itemhorizontal-text span{
    font-weight: bold;
}

.itemhorizontal-text button{
    margin-top: 3.5rem;
    padding: .5rem;
    background: white;
    border: none;
}

.itemhorizontal-text a{
    color: var(--darkgrey);
    font-weight: bold;
}

.itemhorizontal-text i{
    padding-left: .2rem;
    color: var(--yellow);
}



.coldouble-container{
    display: flex;
    padding: var(--padd);
}

.right-side{
    max-width: 100%;
}

.column-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.items-title{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 0 1rem 1rem;
}

.right-side .column-container:nth-child(1) .items-title{
    justify-content: center;
}

.column-container:nth-child(1) .items-title p:nth-child(2){
    padding: 0;
}

.items-title p:nth-child(1),
.items-title h3{
    font-weight: bold;
    border-bottom: 2px solid var(--yellow);
    padding-bottom: .5rem;
}

.items{
    display: flex;
    justify-content: space-evenly;
}

.item-vertical{
    padding-left: 1rem;
}

.item-vertical p:nth-child(1){
    color: grey;
    font-size: small;
    padding-bottom: .5rem;
}

.item-vertical p:nth-child(2){
    color: var(--blue);
    font-weight: bold;
    padding-bottom: .8rem;
}

.item-vertical p:nth-child(4){
    padding-top: .4rem;
}

.item-vertical button{
    padding: .5rem;
    border-radius: 50%;
    background: var(--yellow);
    color: white;
    border: none;
    float: right;
}

.borderitems-container{
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem 0 0 1rem;
}

.borderitems-container h3{
    flex-basis: 100%;
}

.borderitems-container .item-horizontal{
    border: 2px solid var(--yellow);
    border-radius: 1.5rem;
    padding: 1rem;
    margin: .5rem;
    flex-basis: 45%;
}


.rowbgi-container{
    display: flex;
    background: url(img/1400X143/img1.png);
    margin-top: 2rem;
}

.rowbgi-container p{
    padding: 3rem .5rem 1.5rem 5rem;
}

.rowbgi-container span{
    font-weight: bold;
}

.rowbgi-container p:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: small;
    background: var(--yellow);
    padding: .2rem 1rem .2rem 1rem;
    margin: 2rem;
}

.rowbgi-container p:nth-child(2) span{
    font-size: 1.5rem;
}

.rowbgi-container sup{
    font-size: small;
}

.items-title p:nth-child(2){
    padding-left: 20rem;
}

.items-title p:nth-child(4){
    padding-right: 25rem;
}

.row-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 3rem;
}

.row-container .item-horizontal{
    flex-basis: 35%;
}


.right-side > .row-container{
    justify-content: space-between;
    padding-top: 2rem;
}


.carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padd);
    padding-bottom: 3rem;
}


main > .row-container{
    padding: var(--padd);
    padding-bottom: 3rem;
}

main > .row-container .column-container{
    padding-right: 1rem;
}

main > .row-container .column-container > h3{
    padding: .5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--yellow);
}

main > .row-container .column-container .item-horizontal .itemhorizontal-text button{
    margin-top: 0;
}


/* -------------------------
    Oldalsáv-Aside
--------------------------*/
aside > .column-container{
    padding-right: 1rem;
}

aside h3{
    border-bottom: 2px solid var(--yellow);
    padding-top: 15rem;
}
aside > .column-container .item-horizontal,
aside > .column-container .item-vertical{
    padding-top: 1rem;
}

aside > .column-container .itemhorizontal-text button{
    margin-top: 0;
}

aside > .column-container .item-vertical button{
    float: none;
    margin-left: 1rem;
}


/* -------------------------
    Lábléc
--------------------------*/
footer > .row-container:nth-child(1){
    background: var(--yellow);
    justify-content: space-evenly;
    align-items: center;
    padding: var(--padd);
}

footer form{
    margin: .3rem;
}

footer form button{
    color: white;
    font-size: 1rem;
    padding-left: 1rem;
}

footer input{
    flex-basis: 85%;
}

footer > .row-container:nth-child(1) span{
    font-weight: 900;
}


footer > .row-container:nth-child(2){
    padding: var(--padd);
}

footer > .row-container:nth-child(2) .column-container{
    padding: 2rem;
}

footer > .row-container:nth-child(2) p {
    padding-bottom: .5rem;
}

footer > .row-container:nth-child(2) .column-container:nth-child(3) p:nth-child(1){
    padding-top: 2.2rem;
}

footer > .row-container:nth-child(2) .column-container:nth-child(1) p:nth-child(1){
    font-size: 2rem;
    font-weight: 900;
    color: var(--darkgrey);
}

footer > .row-container:nth-child(2) .column-container:nth-child(1) figure{
    justify-content: left;
}

footer i{
    padding: .5rem;
    color: grey;
}

footer h3{
    padding-bottom: 1rem;
}